#root {
  /*max-width: 1280px;*/
/*  margin: 0 auto;
  padding: 0 2rem;*/
  text-align: center;
  background: #d2d2d2;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.chart-container {
  flex-grow: 1 !important;;
  width: 100% !important;
  max-width: 800px !important;  /* Set a max-width to control the chart's width */
  max-height: 400px !important; /* Set a max-height to control the chart's height */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 20px !important;  /* Optional: add some space above the chart */
}

/* Style for the chart itself */
.chart-container canvas {
  width: 100% !important;
  height: auto !important; /* Maintain aspect ratio */
}
